.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
  }
  
  h2 {
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border: 2px solid #333;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 80%;
  }

  @keyframes dottedAnimation {
    0%, 100% {
      content: "•";
      opacity: 0;
    }
    25% {
      content: "•";
      opacity: 1;
    }
    50% {
      content: "••";
      opacity: 1;
    }
    75% {
      content: "•••";
      opacity: 1;
    }
  }
  
  .dotted-text {
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border: 2px solid #333;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    animation: dottedAnimation 2.5s infinite;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .dotted-text {
      font-size: 20px;
      padding: 10px;
    }
  }
  